POSTGRES_DB=name of database
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_PORT=port


MONGO_USER=username
MONGO_PASS=password
MONGO_DOMAIN=domain
MONGO_DBNAME=name of database

EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_HOST_USER=user
EMAIL_HOST_PASSWORD=password
DEFAULT_FROM_EMAIL=email from

SECRET_KEY=secret django key